@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: white; */
}

a:hover {
    opacity: 0.6;
}



/* header */
body {
    padding-top: 135px;
}

header {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1.2fr 6fr 6fr 1fr;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    background-color: white;
}

header > img {
    grid-column: 2/3;
    width: 47%;
    height: auto;
}

header > ul {
    grid-column: 3/4;
    justify-self: end;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header > ul li {
    /* width: 27%; */
    font-size: 13px;
}

header > ul li:nth-of-type(1) {
    font-weight: 600;
    margin-right: 7%;
}

header > ul li:nth-of-type(2) a {
    color: gray;
}

.hamburger-icon {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.line {
    width: 43%;
    height: 1.5px;
    background-color: black;
    margin-bottom: 6px;
}

.line:nth-child(3) {
    margin-bottom: 0;
}

.div__dtopdown {
    flex-direction: column;
    padding: 0 5%;
    margin-bottom: 25px;
}

.header--dropdown {
    background-color: #168352;
    width: 90%;
    height: auto;
    position: fixed;
    top: 55px;
    right: 5%;
    padding: 10px 0;
    /* position: absolute;
    top: 55px;
    right: 5%; */
    z-index: 2;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    border-radius: 25px;
}

.header--dropdown-item {
    height: 50px;
    display: grid;
    place-items: center;
    font-size: 15px;
    list-style: none;
}
/* .header--dropdown li:last-child {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    list-style: none;
} */
.header--dropdown-item a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
}

@media screen and (min-width: 768px) {
    .hamburger-icon {
        display: none;
    }
    .header--dropdown {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    body {
        padding-top: 70px;
    }
    header {
        grid-template-columns: 4fr 1fr;
        /* height: auto; */
        height: 55px;
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 0;
        margin-bottom: 20px;
    }
    header > img {
        width: 65%;
        height: auto;
        grid-column: 1/2;
        align-self: center;
        padding-left: 10px;
        /* width: 60%; */
    }
    header > ul {
        display: none;
    }
    .hamburger-icon {
        grid-column: 2/3;
    }
}





/* main */
main {
    width: 100%;
    height: auto;
    /* display: grid;
    grid-template-columns: 1fr 5fr; */
    padding: 0 8%;
    margin-bottom: 13px;
}

.main__pc {
    width: 100%;
    height: 450px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url("/assets/images/mainVisual_faq_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 30px;  /* Rounded top-left corner */
    border-top-right-radius: 30px; /* Rounded top-right corner */
}

.main__pc > div {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    border-top-right-radius: 30px;
    padding: 20px 3%;
}

.main__pc > div > h1 {
    display: inline-block;
    color: black;
    font-size: 30px;
}

@media screen and (min-width: 768px) {
    .main__sp {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .main__pc {
        display: none;
    }
    main {
        height: 100%;
        padding: 0 5%;
    }
    .main__sp {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main__sp img {
        width: 100%;
        height: 200px;
        border-radius: 25px;
        padding-bottom: 15px;
    }
    .main__sp h1 {
        font-size: 24px;
    }
}





/* link */
.div__link {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding: 0 7%;
    margin-bottom: 30px;
}

.div__link p {
    font-size: 10px;
    color: black;
}

.div__link a {
    color: black;
}

.div__link span {
    font-weight: 800;
}

@media screen and (min-width: 768px) {
    .link__sp {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .div__link {
        height: 40px;
        padding: 0 7%;
        margin-bottom: 0;
    }
    .link__pc {
        display: none;
    }
    .div__link p {
        font-size: 10px;
        letter-spacing: -1.5px;
    }
}




/* Q and A */
section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
}

.section__box {
    width: 60%;
    height: auto;
    padding: 15px 3%;
    padding-bottom: 13px;
    margin-bottom: 20px;
    border: 1px solid orange;
    border-radius: 10px;
}

.accordion__title {
    padding-top: 5px;
}
.box__kinds {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
}

.box__kinds > img {
    width: 20px;
    height: 20px;
}

.box__kind {
    border: 0.5px solid black;
    border-radius: 3px;
    padding: 3px 1%;
    margin-left: 1.7%;
    margin-bottom: 3px;
    line-height: 1.5;
    font-size: 10px;
}

.box__kinds::after {
    content: url(/assets/images/icon_minus.png);
    color: gray;
    position: absolute;
    top: 0%;
    right: 0;
}

.box__question {
    font-size: 14px;
    padding-left: 5%;
    margin-bottom: 15px;
    font-weight: bold;
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.8;
    transition: 1000ms ease max-height;
}

@media screen and (max-width: 767px) {
    section {
        margin-bottom: 120px;
    }
    .section__box {
        width: 90%;
        padding: 10px 6%;
        margin-bottom: 20px;
    }
    .box__kinds {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    .box__kinds::after {
        content: "ー";
        font-size: 22px;
        top: -30%;
    }
    .box__kinds > img {
        width: 20px;
        height: 18px;
        display: inline-flex;
        align-items: center;
    }
    .box__kind {
        font-size: 9px;
        border-radius: 3px;
        padding: 2px 4%;
        margin-left: 5%;
        margin-bottom: 0;
        /* display: inline-block;
        height: 20px;
        line-height: 20px;  */
        /* vertical-align: middle; */
    }
    .box__kind:not(:nth-of-type(1)) {
        margin-left: 2%;
    }
    .box__question {
        padding-left: 10%;
        padding-right: 11%;
        font-size: 13px;
        line-height: 1.8;
        margin-bottom: 2px;
    }
    .accordion__content {
        font-size: 13px;
        line-height: 1.8;
    }
}




/* footer */
footer {
    width: 100%;
    height: 70px;
    background-color: #168352;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

footer a {
    color: white;
}

@media screen and (max-width: 767px) {
    footer {
        height: 60px;
        font-size: 10px;
    }
}

/* font */
.noto-sans-jp-regular {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-jp-bold {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.montserrat-semibold {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}