@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: white; */
}

a:hover {
    opacity: 0.6;
}


/* header */
body {
    padding-top: 135px;
}

header {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1.2fr 6fr 6fr 1fr;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    background-color: white;
}

header > img {
    grid-column: 2/3;
    width: 47%;
    height: auto;
}

header > ul {
    grid-column: 3/4;
    justify-self: end;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header > ul li {
    /* width: 27%; */
    font-size: 13px;
}

header > ul li:nth-of-type(1) {
    margin-right: 5%;
}

.hamburger-icon {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.line {
    width: 43%;
    height: 1.5px;
    background-color: black;
    margin-bottom: 6px;
}

.line:nth-child(3) {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .hamburger-icon {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    body {
        padding-top: 70px;
    }
    header {
        grid-template-columns: 4fr 1fr;
        /* height: auto; */
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 0;
        margin-bottom: 20px;
    }
    header > img {
        width: 60%;
        height: auto;
        grid-column: 1/2;
        align-self: center;
        padding-left: 10px;
        /* width: 60%; */
    }
    header > ul {
        display: none;
    }
    .hamburger-icon {
        grid-column: 2/3;
    }
}



/* h1 */
.section__h1 {
    width: 100%;
    height: auto;
    padding: 10px 10%;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.section__h1 h1 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: 35px;
}

.section__h1 p {
    width: 50%;
    /* padding-top: 15px; */
    padding-left: 2%;
    font-size: 12px;
    line-height: 1.8;
}

@media screen and (max-width: 767px) {
    .section__h1 {
        flex-direction: column;
        padding: 0 6%;
        margin-bottom: 30px;
    }
    .section__h1 h1 {
        width: 100%;
        font-size: 25px;
        margin-bottom: 15px;
    }
    .section__h1 p {
        width: 100%;
        padding-left: 0;
        font-size: 14px;
    }
}



/* main */
main {
    width: 100%;
    /* height: 1000px; */
    height: auto;
    /* display: grid;
    grid-template-columns: 1fr 5fr; */
    padding: 0 6%;
    margin-bottom: 40px;
}

.main__bg {
    width: 100%;
    /* height: 20px; */
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url("/assets/images/main_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}

@media screen and (max-width: 767px) {
    main {
        margin-bottom: 45px;
    }
    .main__bg {
        background-image: url("/assets/images/main_visual_sp.png");
        height: 500px;
    }
}



/* about us */
.section__about {
    width: 100%;
    /* height: 1150px; */
    height: auto;
    margin-bottom: 55px;
}

.div__about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 7%;
    margin-bottom: 25px;
}

.div__about p {
    font-size: 17px;
    font-family: "Montserrat";
    color: rgb(22, 131, 82);
    font-weight: bold;
    margin-bottom: 5px;
    /* letter-spacing: -0.1rem; */
}

.div__about h2 {
    font-size: 23px;
    /* letter-spacing: -0.1rem; */
}

.about__dsc--pc {
    width: 100%;
    /* height: 600px; */
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 12%;
}

.dsc__txt {
    width: 47%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding: 0 5% 0 4%;
}

.dsc__txt p:nth-of-type(1) {
    font-size: 16px;
    /* font-weight: 600; */
    line-height: 1.7;
    /* letter-spacing: 0.1rem; */
    /* margin-top: 25px; */
    margin-bottom: 17px;
}

.dsc__txt p:nth-of-type(2){
    font-size: 12px;
    line-height: 1.8;
    /* letter-spacing: 0.1rem; */
}

.dsc__pic {
    width: 47%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
}

.dsc__pic img {
    width: 80%;
    height: auto;
    border-radius: 30px;
}

@media screen and (min-width: 768px) {
    .about__dsc--sp {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .section__about {
        height: auto;
        margin-bottom: 0;
    }
    .about__dsc--pc {
        display: none;
    }
    .div__about {
        margin-bottom: 15px;
    }
    .div__about p {
        font-size: 13px;
        letter-spacing: 0;
        margin-bottom: 0;
    }
    .div__about h2 {
        font-size: 17px;
        letter-spacing: 0;
    }
    .about__dsc--sp {
        width: 100%;
        height: auto;
    }
    .dsc__pic {
        width: 100%;
        /* height: 300px; */
        height: auto;
        position: relative;
        margin-left: 0;
    }
    .dsc__pic img {
        width: 100%;
        height: 430px;
        /* height: auto; */
        border-radius: 0;
    }
    .dsc__txt {
        width: 90%;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 30px;
        border: 1px solid black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        /* padding-left: 5%; */
        padding: 0 6%;
    }
    .dsc__txt p:nth-of-type(1) {
        font-size: 16px;
        padding-top: 15px;
        margin-bottom: 10px;
    }
    .dsc__txt p:nth-of-type(2){
        font-size: 13px;
        line-height: 1.8;
        padding-bottom: 15px;
    }

}




/* features */
.section__features {
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 55px;
}

.div__features {
    margin-bottom: 22px;
}

.features__container {
    padding: 0 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.features__box {
    width: 31.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features__box img {
    width: 100%;
    height: 185px;
}

.features__dsc {
    padding: 11px 6% 14px;
    border-bottom-left-radius: 20px;  /* Rounded top-left corner */
    border-bottom-right-radius: 20px; /* Rounded top-right corner */
    font-size: 15px;
    font-weight: 600;
    /* line-height: 1.7; */
    /* letter-spacing: 0.1rem; */
    background-color: white;
}

@media screen and (max-width: 767px) {
    .section__features {
        height: auto;
        padding-top: 45px;
        padding-bottom: 10px;
    }
    .div__features {
        margin-bottom: 17px;
    }
    .div__features p {
        margin-bottom: 5px;
    }
    .features__container {
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
    }
    .features__box {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .features__dsc {
        font-size: 15px;
        line-height: 1.8;
        letter-spacing: 0;
        padding: 10px 5% 10px;
    }
    .features__box:not(:nth-child(3)){
        padding-right: 0;
    }

}



/* service */
.section__service {
    width: 100%;
    height: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.service__container {
    width: 100%;
    height: auto;
    padding: 0 11%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
}

.service__box {
    /* width: 47%; */

    display: grid;
    place-items: center;
    border-radius: 24px;
    background-color: rgb(22, 131, 82);
    padding-top: 5px;
    padding-bottom: 5px;
}

.service__box--large {
    width: 48%;
    height: 150px;
    grid-template-columns: 1fr 2fr;
}

.service__box img {
    width: 80%;
    height: auto;
    grid-column: 1/2;
    padding-left: 8%;
}

.service__box .service__dsc {
    grid-column: 2/4;
    text-align: left;
    justify-self: start; /* Ensures the text block aligns to the left of its grid cell */
    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 1.8;
    padding-left: 3%;
}

.service__box--large .service__dsc {
    font-size: 20px;
}

.service__box--small {
    width: 30.5%;
    height: 125px;
    grid-template-columns: 1.2fr 1.8fr;
}

.service__box--small img {
    width: 90%;
    height: auto;
    padding-left: 10%;
}

.service__box--small .service__dsc {
    font-size: 16px;
    font-weight: bolder;
    padding-left: 4%;
    padding-right: 23%;
}

@media screen and (max-width: 767px) {
    .section__service {
        height: auto;
        padding-top: 47px;
        margin-bottom: 30px;
    }
    .div__service {
        margin-bottom: 17px;
    }
    .service__container {
        height: auto;
        flex-direction: column;
        padding: 0 5%;
        margin-bottom: 0;
    }
    .service__box--large, .service__box--small {
        width: 100%;
        height: auto;
        padding: 15px 0;
        margin-bottom: 15px;
    }
    .service__box img {
        width: 70%;
        height: auto;
        padding-left: 0;
    }
    .service__box .service__dsc {
        padding-left: 5px;
    }
    .service__box {
        grid-template-columns: 1.2fr 1.8fr;
    }
    .service__box--large .service__dsc {
        font-size: 16px;
    }
    .service__box--small .service__dsc {
        font-size: 16px;
        padding-right: 15%;
    }
}



/* cases */
.section__cases {
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 50px;
}

.case__container {
    justify-content: space-around;
    padding: 0 7.5%;
}

.case__box {
    width: 31%;
    height: auto;
    justify-content: flex-start;
}

.case__dsc {
    font-size: 15px;
    font-family: "Source Han Sans JP";
    color: rgb(9, 148, 123);
    font-weight: bold;
    line-height: 1.2;
    background-color: #F5F5F5;
    padding: 0 0;
    padding-top: 12px;
}

/* .case__img {
    margin-bottom: 10px;
} */

@media screen and (max-width: 767px) {
    .section__cases {
        padding-top: 40px;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
    /* .div__features {
        margin-bottom: 0;
    } */
    .case__container {
        padding: 0 5%;
    }
    .case__box {
        width: 100%;
        height: auto;
        margin-bottom: 23px;
    }
    .case__dsc {
        font-size: 15px;
        padding-top: 10px;
        padding-left: 0;
        padding-right: 0;
    }
}



/* news */
.section__news {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div__news {
    margin-bottom: 40px;
}

.news__line {
    width: 64%;
    height: 47px;
    display: grid;
    place-items: center;
    grid-template-columns: 0.5fr 1.6fr 6fr;
    border-top: 1px solid rgb(221, 221, 221);
}

.line__date {
    grid-column: 1/2;
    justify-self: start;
    font-size: 12px;
    /* letter-spacing: -0.1rem; */
}

.line__kind {
    grid-column: 2/3;
    width: 80%;
    /* height: 32px; */
    height: auto;
    border-radius: 3px;
    background-color: rgb(71, 50, 33);
    color: white;
    display: grid;
    place-items: center;
    font-size: 10px;
    line-height: 1.5;
    padding: 3px 0;
}

.line__dsc {
    grid-column: 3/8;
    justify-self: start;
    font-size: 12px;
    color: green;
}

.news__line:nth-of-type(7) {
    border-bottom: 1px solid rgb(221, 221, 221);
    margin-bottom: 30px;
}

.news__button {
    width: 22%;
    height: 50px;
    background-color: rgb(9, 148, 123);
    font-size: 15px;
    color: white;
    display: grid;
    place-items: center;
    border-radius: 50px;
    box-shadow: 0 5px 0 0 #2f5d08
}

/* @media screen and (max-width: 1600px) and (min-width: 1200px) {
    .line__date, .line__kind, .line__dsc {
        font-size: 17px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .line__date, .line__kind, .line__dsc {
        font-size: 12px;
    }
} */

@media screen and (max-width: 767px) {
    .section__news {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .div__news {
        margin-bottom: 15px;
    }
    .news__line {
        width: 90%;
        height: auto;
        grid-template-columns: 0.8fr 2.2fr;
        grid-template-rows: repeat(2, 1fr);
        border-top: 1px solid rgb(221, 221, 221);
        padding-top: 5px;
        padding-bottom: 8px;
    }
    .line__date {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .line__kind {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 53%;
        height: 23px;
        justify-self: left;
    }
    .line__dsc {
        grid-column: 1/3;
        grid-row: 2/3;
        line-height: 1.7;
    }
    .line__kind {
        font-size: 10px;
    }
    .line__date, .line__dsc {
        font-size: 12px;
    }
    .news__line:nth-of-type(7) {
        border-bottom: 1px solid rgb(221, 221, 221);
        margin-bottom: 20px;
    }
    .news__line:nth-of-type(7) .line__date, .news__line:nth-of-type(7) .line__kind {
        margin-bottom: 7px;
    }
    .news__button {
        width: 270px;
        height: 55px;
        font-size: 15px;
    }
}




/* footer */
footer {
    width: 100%;
    height: 80px;
    background-color: #168352;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

footer a {
    color: white;
}

@media screen and (max-width: 767px) {
    footer {
        height: 60px;
        font-size: 12px;
    }
}




/* font */
.noto-sans-jp-regular {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-jp-bold {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.montserrat-semibold {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}