@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: white; */
}

a:hover {
    opacity: 0.6;
}


/* header */
header {
    width: 100%;
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 6fr 6fr 1fr;
    padding-top: 50px;
    padding-bottom: 100px;
}

header > img {
    grid-column: 2/3;
    width: 40%;
    height: auto;
}

header > ul {
    grid-column: 3/4;
    justify-self: end;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header > ul li {
    width: 27%;
    font-size: 17px;
}

header > ul li:nth-of-type(1) {
    margin-right: 1%;
}

.hamburger-icon {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.line {
    width: 43%;
    height: 1.5px;
    background-color: black;
    margin-bottom: 6px;
}

.line:nth-child(3) {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .hamburger-icon {
        display: none;
    }
}

@media screen and (max-width: 1350px) and (min-width: 1000px) {
    header > img {
        width: 50%;
    }
    header > ul li {
        width: 40%;
    }
}

@media screen and (max-width: 999px) and (min-width: 768px) {
    header > img {
        width: 60%;
    }
    header > ul li {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    header {
        grid-template-columns: 8fr 1fr;
        height: 50px;
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 0;
        margin-bottom: 20px;
    }
    header > img {
        width: 60%;
        height: auto;
        grid-column: 1/2;
        align-self: center;
        padding-left: 10px;
        /* width: 60%; */
    }
    header > ul {
        display: none;
    }
    .hamburger-icon {
        grid-column: 2/3;
    }
}



/* h1 */
.section__h1 {
    width: 100%;
    height: 100px;
    padding: 10px 12%;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.section__h1 h1 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
}

.section__h1 p {
    width: 50%;
    padding-top: 15px;
    padding-left: 5%;
    font-size: 18px;
    line-height: 1.8;
}

@media screen and (max-width: 1500px) and (min-width: 1000px) {
    .section__h1 h1 {
        font-size: 33px;
    }
}

@media screen and (max-width: 999px) and (min-width: 768px) {
    .section__h1 h1 {
        font-size: 25px;
    }
    .section__h1 p {
        font-size: 15px;
    }
}

@media screen and (max-width: 767px) {
    .section__h1 {
        flex-direction: column;
        padding: 0 5%;
        margin-bottom: 90px;
    }
    .section__h1 h1 {
        width: 100%;
        font-size: 25px;
    }
    .section__h1 p {
        width: 100%;
        padding-left: 0;
        font-size: 15px;
    }
}



/* main */
main {
    width: 100%;
    height: 1000px;
    /* display: grid;
    grid-template-columns: 1fr 5fr; */
    padding: 0 7%;
    margin-bottom: 100px;
}

.main__bg {
    width: 100%;
    height: 1000px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url("/lp4/assets/images/main_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px; 
}

@media screen and (max-width: 767px) {
    main {
        height: 470px;
        margin-bottom: 50px;
    }
    .main__bg {
        background-image: url("/lp4/assets/images/main_visual_sp.png");
        height: 500px;
    }
}



/* about us */
.section__about {
    width: 100%;
    height: 1150px;
}

.div__about {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 7%;
    margin-bottom: 200px;
}

.div__about p {
    font-size: 21px;
    font-family: "Montserrat";
    color: rgb(22, 131, 82);
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 0.1rem;
}

.div__about h2 {
    font-size: 35px;
    letter-spacing: 0.1rem;
}

.about__dsc--pc {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 12%;
}

.dsc__txt {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5% 0 10%;
}

.dsc__txt p:nth-of-type(1) {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.7;
    letter-spacing: 0.1rem;
    margin-bottom: 30px;
}

.dsc__txt p:nth-of-type(2){
    font-size: 18px;
    line-height: 1.9;
    letter-spacing: 0.1rem;
}

.dsc__pic {
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dsc__pic img {
    width: 80%;
    height: auto;
    border-radius: 30px;
}

@media screen and (min-width: 768px) {
    .about__dsc--sp {
        display: none;
    }
}

@media screen and (max-width: 1900px) and (min-width: 768px) {
    .div__about {
        margin-bottom: 150px;
    }
    .dsc__txt p:nth-of-type(1) {
        font-size: 20px;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1000px) {
    .div__about {
        margin-bottom: 130px;
    }
    .dsc__txt {
        padding: 0 0 0 2%;
    }
    .dsc__pic {
        width: 70%;
        height: auto;
    }
}

@media screen and (max-width: 1300px) and (min-width: 1000px) {
    .dsc__txt p:nth-of-type(1) {
        font-size: 18px;
    }
    .about__dsc--pc {
        padding: 0 4%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
    .dsc__txt p:nth-of-type(1) {
        font-size: 18px;
    }
    .div__about {
        margin-bottom: 80px;
    }
    .about__dsc--pc {
        padding: 0 1%;
    }
    .dsc__txt {
        padding: 0 0 0 2%;
    }
}

@media screen and (max-width: 767px) {
    .section__about {
        height: auto;
    }
    .about__dsc--pc {
        display: none;
    }
    .div__about {
        margin-bottom: 0;
    }
    .div__about p {
        font-size: 15px;
        letter-spacing: 0;
        margin-bottom: 0;
    }
    .div__about h2 {
        font-size: 20px;
        letter-spacing: 0;
    }
    .about__dsc--sp {
        width: 100%;
        height: auto;
    }
    .dsc__pic {
        width: 100%;
        /* height: 300px; */
        height: auto;
        position: relative;
    }
    .dsc__pic img {
        width: 100%;
        height: 475px;
        border-radius: 0;
    }
    .dsc__txt {
        width: 90%;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 30px;
        border: 1px solid black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        padding-left: 5%;
    }
    .dsc__txt p:nth-of-type(1) {
        font-size: 16px;
        padding-top: 15px;
        margin-bottom: 10px;
    }
    .dsc__txt p:nth-of-type(2){
        font-size: 13px;
        line-height: 1.7;
        padding-bottom: 15px;
    }
    
}




/* features */
.section__features {
    width: 100%;
    height: 700px;
    background-color: #F5F5F5;
    padding-top: 70px;
}

.div__features {
    margin-bottom: 40px;
}

.features__container {
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.features__box {
    width: 32%;
    height: 480px;
    display: flex;
    flex-direction: column;
}

.features__box img {
    width: 100%;
    height: 330px;
}

.features__dsc {
    padding: 13px 7%;
    border-bottom-left-radius: 20px;  /* Rounded top-left corner */
    border-bottom-right-radius: 20px; /* Rounded top-right corner */
    font-size: 21px;
    font-weight: 600;
    line-height: 1.7;
    letter-spacing: 0.1rem;
    background-color: white;
}

.features__box:not(:nth-child(3)){
    padding-right: 30px;
}

@media screen and (max-width: 1300px) and (min-width: 1000px) {
    .features__dsc {
        font-size: 18px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
    .features__dsc {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .section__features {
        height: auto;
        padding-top: 20px;
    }
    .div__features {
        margin-bottom: 0px;
    }
    .div__features p {
        margin-bottom: 5px;
    }
    .features__container {
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 30px;
    }
    .features__box {
        width: 100%;
        height: 290px;
        margin-bottom: 20px;
    }
    .features__dsc {
        font-size: 16px;
        letter-spacing: 0;
    }
    .features__box:not(:nth-child(3)){
        padding-right: 0;
    }

}




/* service */
.section__service {
    width: 100%;
    height: 700px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__container {
    width: 100%;
    height: 220px;
    padding: 0 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service__box--large {
    width: 47%;
    grid-template-columns: 1fr 2fr;
}

.service__box img {
    grid-column: 1/2;
    padding-left: 2%;
}

.service__box {
    height: 180px;
    display: grid;
    place-items: center;
    border-radius: 24px;
    background-color: rgb(22, 131, 82);
}

.service__box .service__dsc {
    grid-column: 2/4;
    text-align: left;
    justify-self: start; /* Ensures the text block aligns to the left of its grid cell */
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.8;
    padding-left: 2%;
}

.service__box--large .service__dsc {
    font-size: 26px;
}

.service__box--small {
    width: 30%;
    grid-template-columns: 1.2fr 1.8fr;
}

.service__box--small img {
    padding-left: 0;
}

.service__box--small .service__dsc {
    font-size: 22px;
    font-weight: bolder;
    padding-left: 0;
    padding-right: 10%;
}


@media screen and (max-width: 1300px) and (min-width: 1100px) {
    .service__box--large .service__dsc {
        font-size: 23px;
    }
    .service__box--small .service__dsc {
        font-size: 18px;
    }
}

@media screen and (max-width: 1100px) and (min-width: 900px) {
    .service__box--large .service__dsc {
        font-size: 19px;
    }
    .service__box--small .service__dsc {
        font-size: 16px;
    }
}

@media screen and (max-width: 950px) and (min-width: 768px) {
    .service__box--large .service__dsc {
        font-size: 14px;
    }
    .service__box--small .service__dsc {
        font-size: 13px;
    }
}

@media screen and (max-width: 767px) {
    .section__service {
        height: auto;
        padding-top: 25px;
        margin-bottom: 30px;
    }
    .service__container {
        height: auto;
        flex-direction: column;
        padding: 0 5%;
    }
    .service__box--large, .service__box--small {
        width: 100%;
        height: 130px;
        margin-bottom: 20px;
    }
    .service__box img {
        width: 75%;
        height: auto;
        padding-left: 7px;
    }
    .service__box .service__dsc {
        padding-left: 5px;
    }
    .service__box {
        grid-template-columns: 1.2fr 1.8fr;
    }
    .service__box--large .service__dsc {
        font-size: 16px;
    }
    .service__box--small .service__dsc {
        font-size: 16px;
    }
}



/* case */
.case__dsc {
    font-size: 19px;
    font-family: "Source Han Sans JP";
    color: rgb(9, 148, 123);
    font-weight: bold;
    line-height: 1.2;
    background-color: #F5F5F5;
}

.case__img {
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .div__features {
        margin-bottom: 0;
    }
    .features__box {
        margin-bottom: 15px;
    }
    .case__box {
        height: 250px;
    }
    .case__dsc {
        font-size: 17px;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
}



/* news */
.section__news {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div__news {
    margin-bottom: 40px;
}

.news__line {
    width: 70%;
    height: 80px;
    display: grid;
    place-items: center;
    grid-template-columns: 0.5fr 1.5fr 5fr;
    border-top: 3px solid rgb(221, 221, 221);
    /* border-top: 5px solid brown; */
}

.line__date {
    grid-column: 1/2;
    justify-self: start; 
    font-size: 20px;
    letter-spacing: 0.1rem;
}

.line__kind {
    grid-column: 2/3;
    width: 80%;
    height: 32px;
    border-radius: 4px;
    background-color: rgb(71, 50, 33);
    color: white;
    display: grid;
    place-items: center; 
    font-size: 20px;
}

.line__dsc {
    grid-column: 3/8;
    justify-self: start;  
    font-size: 20px;
}

.news__line:nth-of-type(7) {
    border-bottom: 3px solid rgb(221, 221, 221);
    margin-bottom: 40px;
}

.news__button {
    width: 300px;
    height: 66px;
    background-color: rgb(9, 148, 123);
    font-size: 20px;
    color: white;
    display: grid;
    place-items: center; 
    border-radius: 30px;
    box-shadow: 0 5px 0 0 #2f5d08
}



/* footer */
footer {
    width: 100%;
    height: 130px;
    background-color: #168352;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* font */
.noto-sans-jp-regular {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-jp-bold {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.montserrat-semibold {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}