@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: white; */
}

a:hover {
    opacity: 0.6;
}


/* header */
header {
    width: 100%;
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 6fr 6fr 1fr;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-bottom: 120px;
}

header > img {
    grid-column: 2/3;
    width: 40%;
    height: auto;
}

header > ul {
    grid-column: 3/4;
    justify-self: end;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header > ul li {
    width: 27%;
    font-size: 22px;
}

header > ul li:nth-of-type(1) {
    margin-right: 1%;
}

header > ul li:nth-of-type(2) {
    font-weight: 800;
}

.hamburger-icon {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.line {
    width: 43%;
    height: 1.5px;
    background-color: black;
    margin-bottom: 6px;
}

.line:nth-child(3) {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .hamburger-icon {
        display: none;
    }
}

@media screen and (max-width: 1850px) and (min-width: 1350px) {
    header > ul li {
        width: 35%;
    }
}

@media screen and (max-width: 1350px) and (min-width: 1000px) {
    header > img {
        width: 50%;
    }
    header > ul li {
        width: 45%;
    }
}

@media screen and (max-width: 999px) and (min-width: 768px) {
    header > img {
        width: 60%;
    }
    header > ul li {
        width: 55%;
    }
}

@media screen and (max-width: 767px) {
    header {
        grid-template-columns: 8fr 1fr;
        height: 50px;
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 0;
        margin-bottom: 20px;
    }
    header > img {
        width: 60%;
        height: auto;
        grid-column: 1/2;
        align-self: center;
        padding-left: 10px;
        /* width: 60%; */
    }
    header > ul {
        display: none;
    }
    .hamburger-icon {
        grid-column: 2/3;
    }
}



/* main */
main {
    width: 100%;
    height: 1000px;
    /* display: grid;
    grid-template-columns: 1fr 5fr; */
    padding: 0 7%;
    margin-bottom: 30px;
}

.main__pc {
    width: 100%;
    height: 1000px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url("/lp4/assets/images/mainVisual_products_service_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 30px;  /* Rounded top-left corner */
    border-top-right-radius: 30px; /* Rounded top-right corner */
}

.main__pc > div {
    width: 23%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    border-top-right-radius: 30px;
    padding: 20px 0;
}

.main__pc > div > h1 {
    display: inline-block;
    color: black;
    font-size: 45px;
}

@media screen and (min-width: 768px) {
    .main__sp {
        display: none;
    }
}

@media screen and (max-width: 1650px) and (min-width: 1200px) {
    .main__pc > div > h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .main__pc > div > h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .main__pc {
        display: none;
    }
    main {
        height: 270px;
        padding: 0 5%;
    }
    .main__sp {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main__sp img {
        width: 100%;
        padding-bottom: 20px;
    }
    .main__sp h1 {
        font-size: 28px;
    }
}







/* link */
.div__link {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    padding: 0 7%;
    margin-bottom: 50px;
}

.div__link p {
    font-size: 22px;
    color: black;
}

.div__link a {
    color: black;
}

.div__link span {
    font-weight: 800;
}

@media screen and (min-width: 768px) {
    .link__sp {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .div__link {
        height: 50px;
        padding: 0 7%;
        margin-bottom: 0;
    }
    .link__pc {
        display: none;
    }
    .div__link p {
        font-size: 12px;
        letter-spacing: -1.5px;
    }
}





/* h2 */
.h2__sub {
    width: 100%;
    height: 30px;
    font-size: 35px;
    font-weight: bold;
    padding: 0 25%;
    margin-bottom: 20px;
}



/* products */
.splide {
    width: 100%;
    /* height: 800px; */
    height: auto;
    padding: 30px 25% 30px;
    margin-bottom: 50px;
}

.splide__slide {
    display: flex;
    justify-content: center;
}

.splide__slide > img {
    width: 100%;
    height: auto;
}

.my-carousel-progress {
    background: #ccc;
    margin-bottom: 50px;
}

.my-carousel-progress-bar, .my-carousel-progress-bar2, .my-carousel-progress-bar3, .my-carousel-progress-bar4 {
    background: green;
    height: 5px;
    transition: width 400ms ease;
    width: 0;
}

.splide2 {
    height: auto;
    margin-bottom: 50px;
}

.splide2 .splide__slide {
    justify-content: flex-start;
    align-items: end;
    font-size: 43px;
    /* font-weight: bold; */
}

.splide2 .splide__slide span {
    display: inline-flex;
    padding-left: 3px;
    padding-bottom: 5px;
    font-size: 20px;
}

.splide2 .my-carousel-progress {
    margin-bottom: 30px;
}

.splide3 {
    height: auto;
    margin-bottom: 50px;
}

.splide__h3 {
    display: inline-block;
    padding: 10px 2%;
    border-left: 5px solid green;
    margin-left: 5%;
    margin-bottom: 35px;
    font-size: 30px;
}

.splide3 .splide__slide {
    /* width: 50%; */
    height: auto;
    /* margin-left: 5%; */
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 40px;
}

table {
    width: 100%;
    height: auto;
    border-collapse:  collapse;
}

td {
    height: 95px;
    text-align: left;
    vertical-align: middle;
    padding-left: 30px;
    border: solid 1px #CCCCCC;
    font-size: 23px;
}

td:nth-child(odd) {
    background-color: #F5F5F5;
    font-weight: bold;
}

.slide__sp div {
    /* width: 100%; */
    height: 40px;
    line-height: 40px;
    text-align: left;
    /* vertical-align: middle; */
    padding-left: 18px;
    border: solid 0.5px #CCCCCC;
    border-bottom: none;
    /* border-collapse:  collapse; */
    font-size: 15px;
}

.slide__sp div:nth-of-type(odd) {
    background-color: #F5F5F5;
}

.slide__sp div:last-child {
    border-bottom: solid 1px #CCCCCC;
}

.splide4 {
    height: auto;
    margin-bottom: 70px;
}

.features__box {
    display: flex;
    flex-direction: column;
}

.features__dsc {
    font-size: 21px;
    line-height: 1.8;
    padding-top: 15px;
}

.splide5 {
    height: auto;
}

@media screen and (min-width: 768px) {
    .slide__sp {
        display: none;
    }
    .splide5 {
        display: none;
    }
}

@media screen and (max-width: 1800px) and (min-width: 1600px) {
    .h2__sub {
        padding-left: 20%;
    }
    .splide {
        padding: 30px 20% 30px;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1400px) {
    .h2__sub {
        padding-left: 17%;
    }
    .splide {
        padding: 30px 17% 30px;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
    .h2__sub {
        padding-left: 12%;
    }
    .splide {
        padding: 30px 12% 30px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .h2__sub {
        padding-left: 5%;
    }
    .splide {
        padding: 30px 5% 30px;
    }
}

@media screen and (max-width: 767px) {
    .h2__sub {
        font-size: 20px;
        padding-left: 5%;
        margin-bottom: 0;
    }
    .splide {
        padding: 10px 5% 30px;
        margin-bottom: 30px;
    }
    .my-carousel-progress {
        margin-bottom: 20px;
    }
    .my-carousel-progress-bar, .my-carousel-progress-bar2, .my-carousel-progress-bar3, .my-carousel-progress-bar4 {
        height: 3px;
    }
    .splide2 {
        height: 130px;
        padding-bottom: 10px;
        margin-bottom: 0;
    }
    .splide2 .my-carousel-progress {
        margin-bottom: 20px;
    }
    .splide2 .splide__slide {
        font-size: 30px;
    }
    .splide2 .splide__slide span {
        font-size: 15px;
    }
    .splide__h3 {
        border-left: 3px solid green;
        padding-top: 3px;
        padding-bottom: 4px;
        padding-left: 15px;
        margin-left: 0;
        margin-bottom: 25px;
        font-size: 20px;
    }
    .slide__pc {
        display: none;
    }
    .slide__sp {
        width: 100%;
    }
    .splide3 .splide__slide {
        padding-left: 0;
        padding-right: 0;
    }
    .splide4__list--sp li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features__box {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .features__dsc {
        font-size: 16px;
    }
    .splide4, .splide5 {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .splide6 {
        margin-bottom: 30px;
    }
}



/* contact */
.section__contact {
    width: 100%;
    height: 600px;
    position: relative;
}

.contact__bg {
    width: 100%;
    height: 600px;
    background-image: url("/lp4/assets/images/drone.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.contact__bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.contact__txt {
    width: 18%;
    min-width: 250px;
    height: auto;
    border: 1px solid white;
    border-radius: 70px;
    padding: 45px 1%;
    color: white;
    text-align: center;
    font-size: 27px;
    font-weight: 500;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, 180%);
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .section__contact {
        height: 350px;
    }
    .contact__bg {
        height: 350px;
        background-image: url("/lp4/assets/images/pricing_contact_sp.png");
    }
    .contact__txt {
        width: 90%;
        padding: 25px 1%;
        border: 2px solid white;
        font-size: 18px;
        transform: translate(-50%, 170%);
    }
}




/* footer */
footer {
    width: 100%;
    height: 130px;
    background-color: #168352;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

footer a {
    color: white;
}

@media screen and (max-width: 767px) {
    footer {
        height: 70px;
        font-size: 12px;
    }
}




/* font */
.noto-sans-jp-regular {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-jp-bold {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.montserrat-semibold {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}