@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: white; */
}

a:hover {
    opacity: 0.6;
}


/* header */
body {
    padding-top: 135px;
}

header {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1.2fr 6fr 6fr 1fr;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    background-color: white;
}

header > img {
    grid-column: 2/3;
    width: 47%;
    height: auto;
}

header > ul {
    grid-column: 3/4;
    justify-self: end;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header > ul li {
    /* width: 27%; */
    font-size: 13px;
}

header > ul li:nth-of-type(1) {
    margin-right: 7%;
}

header > ul li:nth-of-type(1) a {
    color: gray;
}

header > ul li:nth-of-type(2) {
    font-weight: 600;
}

.hamburger-icon {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.line {
    width: 43%;
    height: 1.5px;
    background-color: black;
    margin-bottom: 6px;
}

.line:nth-child(3) {
    margin-bottom: 0;
}

.div__dtopdown {
    flex-direction: column;
    padding: 0 5%;
    margin-bottom: 25px;
}

.header--dropdown {
    background-color: #168352;
    width: 90%;
    height: auto;
    position: fixed;
    top: 55px;
    right: 5%;
    padding: 10px 0;
    /* position: absolute;
    top: 55px;
    right: 5%; */
    z-index: 2;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    border-radius: 25px;
}

.header--dropdown-item {
    height: 50px;
    display: grid;
    place-items: center;
    font-size: 15px;
    list-style: none;
}
/* .header--dropdown li:last-child {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    list-style: none;
} */
.header--dropdown-item a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
}

@media screen and (min-width: 768px) {
    .hamburger-icon {
        display: none;
    }
    .header--dropdown {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    body {
        padding-top: 70px;
    }
    header {
        grid-template-columns: 4fr 1fr;
        /* height: auto; */
        height: 55px;
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 0;
        margin-bottom: 20px;
    }
    header > img {
        width: 65%;
        height: auto;
        grid-column: 1/2;
        align-self: center;
        padding-left: 10px;
        /* width: 60%; */
    }
    header > ul {
        display: none;
    }
    .hamburger-icon {
        grid-column: 2/3;
    }
}



/* main */
main {
    width: 100%;
    height: auto;
    /* display: grid;
    grid-template-columns: 1fr 5fr; */
    padding: 0 8%;
    margin-bottom: 13px;
}

.main__pc {
    width: 100%;
    height: 450px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url("/assets/images/mainVisual_products_service_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 30px;  /* Rounded top-left corner */
    border-top-right-radius: 30px; /* Rounded top-right corner */
}

.main__pc > div {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    border-top-right-radius: 30px;
    padding: 20px 3%;
}

.main__pc > div > h1 {
    display: inline-block;
    color: black;
    font-size: 30px;
}

@media screen and (min-width: 768px) {
    .main__sp {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .main__pc {
        display: none;
    }
    main {
        height: 245px;
        padding: 0 5%;
    }
    .main__sp {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main__sp img {
        width: 100%;
        padding-bottom: 15px;
    }
    .main__sp h1 {
        font-size: 24px;
    }
}





/* link */
.div__link {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding: 0 7%;
    margin-bottom: 30px;
}

.div__link p {
    font-size: 10px;
    color: black;
}

.div__link a {
    color: black;
}

.div__link span {
    font-weight: 800;
}

@media screen and (min-width: 768px) {
    .link__sp {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .div__link {
        height: 40px;
        padding: 0 7%;
        margin-bottom: 0;
    }
    .link__pc {
        display: none;
    }
    .div__link p {
        font-size: 10px;
        letter-spacing: -1.5px;
    }
}




/* h2 */
.h2__sub {
    width: 100%;
    height: auto;
    font-size: 22px;
    font-weight: bold;
    padding: 0 22%;
    margin-bottom: 5px;
}



/* gallery */
.splide {
    width: 100%;
    /* height: 800px; */
    height: auto;
    padding: 0 22% 30px;
    margin-bottom: 20px;
}

.splide__slide {
    display: flex;
    justify-content: center;
}

.splide__slide > img {
    width: 100%;
    height: auto;
}

.my-carousel-progress {
    background: #ccc;
    margin-bottom: 25px;
}

.my-carousel-progress-bar, .my-carousel-progress-bar2, .my-carousel-progress-bar3, .my-carousel-progress-bar4 {
    background: green;
    height: 4px;
    transition: width 400ms ease;
    width: 0;
}

@media screen and (max-width: 767px) {
    .h2__sub__gallery {
        margin-bottom: 7px;
    }
    .my-carousel-progress-bar, .my-carousel-progress-bar2, .my-carousel-progress-bar3, .my-carousel-progress-bar4 {
        height: 3px;
    }
    .splide__slide > img {
        border-radius: 25px;
    }
}



/* feature */
.section__feature {
    width: 100%;
    height: auto;
    padding: 0 22% 30px;
    margin-bottom: 20px;
}

.h2__sub__price {
    margin-bottom: 15px;
}

.my-carousel-progress-bar4 {
    width: 77px;
}

.feature__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feature__box {
    width: 31%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature__box img {
    width: 100%;
}

.features__dsc {
    font-size: 14px;
    line-height: 1.5;
    padding-top: 8px;
}

@media screen and (max-width: 767px) {
    .section__feature {
        margin-bottom: 22px;
        padding: 0 5%;
    }
    .h2__sub__feature {
        margin-bottom: 7px;
    }
    .my-carousel-progress {
        width: 100%;
    }
    .my-carousel-progress-bar4 {
        width: 40px;
    }
    .feature__list {
        flex-direction: column;
    }
    .feature__box {
        width: 100%;
        margin-bottom: 20px;
    }
    .features__dsc {
        font-size: 14px;
        line-height: 1.7;
    }
}



/* price */
.section__price {
    width: 100%;
    height: auto;
    padding: 0 22% 50px;
}

.my-carousel-progress__price {
    margin-bottom: 15px;
}

.price__yen {
    color: #168352;
    font-size: 25px;
}

.price__yen span {
    font-size: 13px;
}

@media screen and (max-width: 767px) {
    .section__price {
        margin-bottom: 50px;
        padding: 0 5%;
    }
    .h2__sub__price {
        margin-bottom: 7px;
    }
    .my-carousel-progress__price {
        margin-bottom: 15px;
    }
}




/* spec */
.section__spec {
    width: 100%;
    height: auto;
    padding: 0 22% 50px;
}

.h2__sub__spec {
    margin-bottom: 15px;
}

.splide__h3 {
    display: inline-block;
    padding: 2px 2%;
    border-left: 3px solid green;
    margin-left: 4%;
    margin-bottom: 20px;
    font-size: 20px;
}

table {
    width: 92%;
    height: auto;
    border-collapse:  collapse;
    margin-left: 4%;
}

td {
    height: 50px;
    text-align: left;
    vertical-align: middle;
    padding-left: 15px;
    border: solid 1px #CCCCCC;
    font-size: 13px;
}

td:nth-child(odd) {
    background-color: #F5F5F5;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .slide__sp {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .section__spec {
        margin-bottom: 50px;
        padding: 0 5%;
    }
    .h2__sub__spec {
        margin-bottom: 7px;
    }
    .my-carousel-progress__spec {
        margin-bottom: 17px;
    }
    .splide__h3 {
        /* padding: 1px 4%; */
        /* padding-top: 3px; */
        padding-left: 4%;
        border-left: 2px solid green;
        margin-left: 0;
        margin-bottom: 10px;
        font-size: 17px;
    }
    .slide__pc {
        display: none;
    }
    .slide__sp div {
        /* display: flex;
        align-items: center; */
        height: 32px;
        line-height: 32px;
        padding-left: 5%;
        font-size: 13px;
        border-top: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
    }
    .slide__sp div:nth-child(odd)  {
        background-color: #F5F5F5;
    }
    .slide__sp div:last-child  {
        border-bottom: 1px solid #CCCCCC;
    }
}





/* legacy -- not sure if I can remove these */
@media screen and (min-width: 768px) {
    .slide__sp {
        display: none;
    }
    .splide5 {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .h2__sub {
        font-size: 17px;
        padding-left: 5%;
        /* margin-bottom: 0; */
    }
    .splide {
        padding: 0 5% 30px;
        margin-bottom: 30px;
    }
    /* .my-carousel-progress {
        margin-bottom: 20px;
    } */
    .my-carousel-progress-bar, .my-carousel-progress-bar2, .my-carousel-progress-bar3, .my-carousel-progress-bar4 {
        height: 3px;
    }
    .splide2 .my-carousel-progress {
        margin-bottom: 20px;
    }
    .splide2 .splide__slide {
        font-size: 30px;
    }
    .splide2 .splide__slide span {
        font-size: 15px;
    }
    .slide__pc {
        display: none;
    }
    .slide__sp {
        width: 100%;
    }
    .splide3 .splide__slide {
        padding-left: 0;
        padding-right: 0;
    }
    .splide4__list--sp li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features__box {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}



/* contact */
.section__contact {
    width: 100%;
    height: 365px;
    position: relative;
}

.contact__bg {
    width: 100%;
    height: 365px;
    background-image: url("/assets/images/drone.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.contact__bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.contact__txt {
    width: 18%;
    min-width: 290px;
    height: auto;
    border: 2px solid white;
    border-radius: 70px;
    padding: 18px 5%;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .section__contact {
        height: 280px;
    }
    .contact__bg {
        height: 280px;
        background-image: url("/assets/images/pricing_contact_sp.png");
    }
    .contact__txt {
        width: 90%;
        padding: 20px 1%;
        border: 2px solid white;
        font-size: 15px;
        transform: translate(-50%, -50%);
    }
}



/* footer */
footer {
    width: 100%;
    height: 80px;
    background-color: #168352;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

footer a {
    color: white;
}

@media screen and (max-width: 767px) {
    footer {
        height: 60px;
        font-size: 10px;
    }
}



/* font */
.noto-sans-jp-regular {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-jp-bold {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.montserrat-semibold {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}